body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.search-box {
  margin: 20px;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px;
  cursor: pointer;
}

#results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 100%;
}

#loader {
  font-size: 20px;
  margin-top: 20px;
}

.hidden {
  display: none;
}